<html>
    <head>
        <title>Detail</title>
        <link rel="stylesheet" href="/stylesheet/styles.css">
    </head>

    <body>
        <h1><%= title %></h1>
        <div class="container">
            <h3><%= message.user %></h3>
            <p><%= message.text %></p>
            <p><%= message.added %></p>

            <a href="/"><button>Home</button></a>
        </div>
    </body>
</html>